<div class="container" style="padding-top: 2%">
    <div class="card">
      <div class="card-body">
        <form #branchForm style="margin-bottom: 2%">
          <div class="form-group">
            <label for="inputBranch">Branch</label>
            <input class="form-control" name="reglog_branch" id="reglog_branch" placeholder="ex. dev" [(ngModel)]="branch">
          </div>
          <div style="display: flex; justify-content:space-between">
            <button class="btn btn-info" (click)="onBranchAdd()">Add</button>
          </div>
          <div *ngIf="branchSuccess" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Branch added
          </div>
          <div *ngIf="branchError" class="alert alert-error alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Error: {{branchError}}
          </div>
        </form>
      </div>
    </div>
  </div>