<h2>
  {{this.repo.fullName}}
</h2>
  <div class="grid-container">
    <div class="card" style="grid-column: 1;">
      <div class="card-body">
        <h5 class="card-title">Builds:</h5>
        <builds-list [properties]="{repoID: this.repo.repoID, branch: 'master'}"></builds-list>
      </div>
    </div>
    <div class="card" style="grid-column: 2 / span 2">
      <div class="card-body">
        <h5 class="card-title">Branches:</h5>
        <branch-configs-list [properties]="{repoID: this.repo.repoID}"></branch-configs-list>
      </div>
    </div>
    <div class="card"style="grid-row: 2;grid-column 1;">
      <div class="card-body">
        <h5 class="card-title">Enable CI for branch:</h5>
        <create-branch [properties]="{repoID: this.repo.repoID}"></create-branch>
      </div>
    </div>
    <div class="card" style="grid-row: 2;grid-column: 2 / span 2;">
      <div class="card-body">
        <h5 class="card-title">Delete repo:</h5>
        <div style="display: flex; justify-content:space-between">
          <button class="btn btn-danger" (click)="onRepoDelete()">Delete</button>
        </div>
        <div *ngIf="deleteError" class="alert alert-error alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Error: {{deleteError}}
        </div>
      </div>
    </div>
  </div>
