<h2>
  {{this.deployment.k8sName}}
</h2>
  <div class="grid-container">
    <div class="card" style="grid-column: 1">
      <div class="card-body">
        <h5 class="card-title">Revisions:</h5>
        <revisions-list [properties]="{depID: this.deployment.ID}"></revisions-list>
      </div>
    </div>
    <div class="card" style="grid-column: 2 / span 2">
      <div class="card-body">
        <h5 class="card-title">Details:</h5>
        <ul class="list-group">
          <li class="list-group-item">{{this.deployment.IsInitialized ? '' : 'Not'}} initialized</li>
          <li class="list-group-item">Replicas: {{this.deployment.Replicas}}</li>
          <li class="list-group-item">Repo: {{this.repo.fullName}}</li>
          <li class="list-group-item">Branch: {{this.deployment.Branch}}</li>
          <li class="list-group-item">Manifest: <pre class="pre-scrollable" style="background-color: black; color: antiquewhite;"><code>{{this.deployment.Manifest}}</code></pre></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Scale deployment:</h5>
        <form #scaleForm style="margin-bottom: 2%">
          <div class="form-group">
            <label for="inputReplicas">Replicas</label>
            <input class="form-control" type="number" name="reglog_replicas" id="reglog_replicas" placeholder="2" [(ngModel)]="replicas">
          </div>
          <div style="display: flex; justify-content:space-between">
            <button class="btn btn-info" (click)="onScale()">Scale</button>
          </div>
          <div *ngIf="scaleSuccess" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Deployment scaled successfully
          </div>
          <div *ngIf="scaleError" class="alert alert-error alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Error: {{scaleError}}
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Change image:</h5>
        <form #imageForm style="margin-bottom: 2%">
          <div class="form-group">
              <label for="selectArtifact">Artifacts</label>
              <select class="form-control" (change)="selectArtifact($event.target.value)" [(ngModel)]="artifactID" id="artifactSelect">
                <option [value]="artifact.id" *ngFor="let artifact of artifacts">{{artifact.name}}</option>
              </select>
          </div>
          <div style="display: flex; justify-content:space-between">
            <button class="btn btn-info" (click)="onChangeImage()">Change</button>
          </div>
          <div *ngIf="imageSuccess" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Image changed successfully
          </div>
          <div *ngIf="imageError" class="alert alert-error alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Error: {{imageError}}
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Change manifest:</h5>
        <form #manifestForm style="margin-bottom: 2%">
          <div class="form-group">
            <label for="inputManifest">Manifest</label>
            <input class="form-control" name="reglog_manifest" id="reglog_manifest" [(ngModel)]="manifest">
          </div>
          <div style="display: flex; justify-content:space-between">
            <button class="btn btn-info" (click)="onChangeManifest()">Change</button>
          </div>
          <div *ngIf="manifestSuccess" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Manifest changed successfully
          </div>
          <div *ngIf="manifestError" class="alert alert-error alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Error: {{manifestError}}
          </div>
        </form>
      </div>
    </div>
  </div>