<div class="container" style="padding-top: 2%">
    <div class="card">
      <div class="card-body">
        <form #repoFullNameForm style="margin-bottom: 2%">
          <div class="form-group">
            <label for="inputRepoName">Repository's full name</label>
            <input class="form-control" name="reglog_reponame" id="reglog_reponame" placeholder="ex. torvalds/linux" [(ngModel)]="fullName">
          </div>
          <div style="display: flex; justify-content:space-between">
            <button class="btn btn-info" (click)="onRepoAdd()">Add</button>
          </div>
          <div *ngIf="fullNameSuccess" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Repository added
          </div>
          <div *ngIf="fullNameErr" class="alert alert-error alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Error: {{fullNameErr}}
          </div>
        </form>
      </div>
    </div>
  </div>