<h2  style="padding-top: 2%">{{user}} - {{userAdmin ? 'Administrator' : 'Developer'}}</h2>
<div class="container" style="padding-top: 2%">
  <div class="card">
    <div class="card-body">
      <form #webhookSecretForm style="margin-bottom: 2%">
        <div class="form-group">
          <label for="inputWebhookSecret">Webhook secret</label>
          <input class="form-control" name="reglog_webhooksecret" id="reglog_webhooksecret" placeholder="Enter webhook secret" [(ngModel)]="webhookSecret">
        </div>
        <div style="display: flex; justify-content:space-between">
          <button class="btn btn-info" (click)="onWebhookSave()">Save</button>
        </div>
        <div *ngIf="webhookSecretSuccess" class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Webhook secret saved
        </div>
        <div *ngIf="webhookSecretError" class="alert alert-error alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Error: {{webhookSecretError}}
        </div>
      </form>
      <form #accessTokenForm>
        <div class="form-group">
          <label for="inputAccessToken">Github access token</label>
          <input class="form-control" name="reglog_accesstoken" id="reglog_accesstoken" placeholder="Enter access token" [(ngModel)]="accessToken">
        </div>
        <div style="display: flex; justify-content:space-between">
          <button class="btn btn-info" (click)="onAccessTokenSave()">Save</button>
        </div>
        <div *ngIf="accessTokenSuccess" class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Access token saved
        </div>
        <div *ngIf="accessTokenError" class="alert alert-error alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Error: {{accessTokenError}}
        </div>
      </form>
    </div>
  </div>
</div>